.sidebar {
    width: 15%;
    height: 90%;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px; /* Curve the bottom-right corner */
    padding: 20px;
    margin-left: 2%;
    margin-top: 2%;
  }
  
  .sidebar-header {
    padding: 20px;
  }
  
  .sidebar-menu {
    padding: 10px;
  }
  
  .sidebar-menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar-menu ul li {
    padding: 10px 0;
    cursor: pointer;
  }
  
  .sidebar-menu ul li:hover {
    background-color: #555;
  }
  .submenu > span {
  cursor: default;
  color: #2f6f4e;
  font-weight: 600;
}

.submenu ul {
  list-style: none;
  padding-left: 15px;
  margin-top: 5px;
}

.submenu ul li a {
  font-size: 14px;
  color: #2f6f4e;
}
